<div class="container container-userinfo">
    <h1 style="text-align:center;color:brown;padding: 20px 0;">Đổi mật khẩu</h1>

<div class="box box-primary">
    <div class="box-body">

       
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger">
                <ul style="list-style:none">
                    @foreach (var state in ViewData.ModelState.Values)
                    {
                        foreach (var error in state.Errors)
                        {
                            <li>@error.ErrorMessage</li>
                        }
                    }
                </ul>
            </div>
        }

        <!-- Hiển thị thông báo thành công -->
        @if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <div class="alert alert-success">
                @ViewBag.Message
            </div>
        }

        <form action="~/Account/ChangePassword" method="post">
                <div class="form-group mt-3">
                <label>Mật khẩu cũ:</label>
                <input type="password" class="form-control" name="oldPassword" required autofocus>
            </div>

            <div class="form-group mt-3">
                <label>Mật khẩu mới:</label>
                <input type="password" class="form-control" name="newPassword" required>
            </div>

            <div class="form-group mt-3">
                <label>Xác nhận lại mật khẩu:</label>
                <input type="password" class="form-control" name="confirmPassword" required>
            </div>

            <div class="form-group mt-3">
                <div class="row">
                   
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn-repass">Đổi mật khẩu</button>
                            <a href="~/Home"  class="btn-return">Bỏ qua</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
