<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container-fluid" style="padding: 0;">
    <!-- Footer -->
    <footer class="text-center text-lg-start text-dark"
            style="background-color: #ECEFF1">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-between p-4 text-white"
                 style="background-color: #21D192">
            <!-- Left -->
            <div class="me-5">
                <span>Bạn có thể liên hệ với tôi:</span>
            </div>
            <!-- Left -->
            <!-- Right -->
            <div>
                <a href="" class="text-white me-4">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fab fa-google"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="" class="text-white me-4">
                    <i class="fab fa-github"></i>
                </a>
            </div>
            <!-- Right -->
        </section>
        <!-- Section: Social media -->
        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3" style="align-items:start">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold">Bình Store</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p>
                            Nơi cung cấp dịch vụ uy tín chất lượng, đảm bảo hàng chính hãng
                            100%. Hãy đến với chúng tôi, chúng tôi sẽ làm bạn hài lòng, khách hàng chính
                            là thượng đế.
                        </p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold">Sản phẩm</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p>
                            <a href="#!" class="text-dark">Máy tinh Laptop</a>
                        </p>
                        <p>
                            <a href="#!" class="text-dark">Card đồ hoạ</a>
                        </p>
                        <p>
                            <a href="#!" class="text-dark">Điện thoại Gaming</a>
                        </p>
                        <p>
                            <a href="#!" class="text-dark">Phụ kiện nâng cấp</a>
                        </p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold">Nhà cung cấp</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p>
                            <a href="#!" class="text-dark">Apple</a>
                        </p>
                        <p>
                            <a href="#!" class="text-dark">Samsung</a>
                        </p>
                        <p>
                            <a href="#!" class="text-dark">Oppo</a>
                        </p>
                        <p>
                            <a href="#!" class="text-dark">Nivedia</a>
                        </p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold">Liên hê</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p><i class="fas fa-home mr-3 me-3"></i> Hương Thuỷ, Thừa Thiên Huế</p>
                        <p><i class="fas fa-envelope mr-3 me-3"></i> 21T1020254@husc.edu.vn</p>
                        <p><i class="fas fa-phone mr-3 me-3"></i> + 0999 492 488</p>
                        <p><i class="fas fa-print mr-3 me-3"></i> + 0888 888 666</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->
        <!-- Copyright -->
        <div class="text-center p-3"
             style="background-color: rgba(0, 0, 0, 0.2)">
            © 2024 Copyright:
            <a class="text-dark" href="https://mdbootstrap.com/">BinhStore.com</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</div>
<!-- End of .container -->