
@{
}

<div class="box box-warning">
    <div class="box-body">
    <div class="alert alert-warning">
        <strong>Thông báo!</strong>
            <p>Bạn không có quyền truy cập vào đây.</p>
    </div>
    </div>
</div>
